.header__logo {
    max-inline-size: 1440px;
    margin: auto;
    padding-inline: 32px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--logo-font);
    line-height: 48px;
    letter-spacing: 4px;
    color: white;
}